.navbar {
  .container-fluid {
    background-color: #6c5e53;

    .navbar-toggle {
      width: 41px;
      margin-right: 15px;
      margin-left: 15px;
      text-align: center;
      color: #6c5e53;
      font-size: 16px;
      font-weight: bold;
      padding-top: 4px;
      padding-bottom: 4px;
      border: 0;
      background-color: #f9f7f4;
    }

    .navbar-toggle:hover {
      cursor: pointer;
    }

    .navbar-toggle.active {
      background-color: #b6a498;
      color: #f9f7f4;
    }

    .navbar-brand {
      position: absolute;
      left: 50%;
      display: block;
      width: 160px;
      text-align: center;
      margin-left: -80px;
      font-size: 24px;
      color: #f9f7f4;
    }
  }

  .nav.nav-justified {
    border-bottom: 2px solid #b6a498;

    .col-xs-3 {
      padding-right: 0;
      padding-left: 0;

      .toggle-bar {
        font-size: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #f9f7f4;

        a {
          color: #6c5e53;
          text-decoration: none;
        }
      }

      .toggle-bar:hover {
        cursor: pointer;

        a {
          text-decoration: none;
        }
      }

      #toggle-bar-1,
      #toggle-bar-2,
      #toggle-bar-3 {
        border-left: 2px solid #b6a498;
      }
    }

    .col-xs-3.active {
      .toggle-bar {
        background-color: #b6a498;
        font-weight: bold;

        a {
          color: #f9f7f4;
          text-decoration: none;
        }
      }
    }
  }
}
