<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button href="/user" class="navbar-toggle" type="button" ui-sref-active="active" ui-sref="user">
        <i class="fa fa-user"></i>
      </button>
      <a href="/" class="navbar-brand">轉角哥</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <!-- <ul class="nav navbar-nav">
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <!-- <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li> -->
        <li href="/user" class="navbar-toggle" type="button" ui-sref-active="active" ui-sref="user">
          <i class="fa fa-user"></i>
        </li>
      </ul>
    </div>
  </div>
  <ul class="nav nav-justified">
    <div class="col-xs-3 text-center" ng-repeat="item in nav.menu" ui-sref-active="active">
      <li class="toggle-bar" id="{{'toggle-bar-' + $index}}" role="presentation" ui-sref="{{item.state}}">
        <a ng-bind-html="item.title | parseHtml"></a>
      </li>
    </div>
  </ul>
</div>
