.login-signup {
  text-align: center;
  margin-top: 25px;

  .btn-group {
    .btn {
      font-size: 4vmin;
      color: #6C5E53;
      background-color: #F9F7F4;
      border: 2px solid #b6a498;
    }

    .btn:active, .btn.active, .btn.active:active {
      box-shadow: none;
    }

    .active {
      background-color: #B6A498;
      color: #F9F7F4;
    }
  }
}


.form {
  .form-group {
    margin-top: 25px;
    color: #6C5E53;

    input {
      font-size: 4vmin;
      height: auto;
      border-color: #b6a498;
    }

    input:focus {
      box-shadow: inset 0 1px 1px #B6A498, 0 0 8px #B6A498;
      border-color: #6C5E53;
      outline: 0;
    }
  }

  .btn-submit-parent {
    text-align: center;

    .btn-submit{
      font-size: 4vmin;
      margin-top: 10px;
      margin-bottom: 25px;
      background-color: #b6a498;
      color: #F9F7F4;
      border: 2px solid #b6a498;
    }

    .btn-submit:focus {
      outline: 0;
    }

    .btn-submit:active {
      border-color: #6C5E53;
    }
  }
}
